.header
  .header__title
    memorandum
  .header__main
    新規投稿
  .header__rightbox
    .header__rightbox__btn1
      username
    .header__rightbox__btn2
      新規登録
    .header__rightbox__btn3
      ログイン