.new3
  .new3_header
    .new3_header__title
      = link_to 'memorandum',root_path
      .new3_header__title__sub
        〜美味しいもの食べたい〜
  .new3_body
    .new3_body_title
      ユーザー登録完了
    .new3_body_content
      会員登録完了しました
    .new3_body_next
      = link_to "トップへ戻る",root_path, class: "new3_body_next_btn"
  .new3_footer
    .new3_footer__title
      君がどんなものを食べているか言ってみなさい。
      君がどんな人間であるか当ててみせよう。
    .new3_footer__sub
      ブリア=サヴァラン
