.show {
  height: 100vh;
  width: 100vw;
  background-color: rgb(245, 245, 245);
  overflow: scroll;
  
  &_header {
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    color: dimgray;
    position: fixed;
    z-index: 1;
    a {
      text-decoration: none;
      color: dimgray;
    }
    &__title {
      font-size: 30px;
      padding-top: 10px;
      padding-left: 40px;
      &__sub {
        font-size: 18px;
        color: gray;
      }
    }
    &__main {
      margin: 10px auto;
      font-size: 30px;
      padding: 20px;
      height: 40px;
      // background-color: green;
      border-radius: 30px;
  
    }
    &__rightbox {
      margin-right: 30px;
      display: flex;
      font-size: 20px;
      &__btn1, &__btn2, &__btn3, &__btn4 {
        padding: 0 10px;
        height: 35px;
        // background-color: rgb(22, 169, 236);
        border-radius: 10px;
        margin: auto 10px;
      }
    }
  }


  &_body {
    padding-top: 100px;
    width: 800px;
    margin: 0 auto;
    &_main {
      padding: 60px;
      border: solid 5px;
      margin: 50px auto;
      border-radius: 50px;
      &_image {
       height: 500px;
       width: 500px;
       padding-left: 100px;

        &-1 {
          width: 100%;
          height: 100%;
          // max-height: 500px; 
          // max-width: 500px;         
          background-size: cover;
          background-position: center;
        }
      }

      &_shop_name {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      &_text {
        margin-bottom: 10px;
      }
      &_address, &_phone, &_time, &_price, &_taberogu {
        display: flex;
        margin-bottom: 10px;
      }
      &_map{
          margin-left: 50px;
        }
      a {
        color: #337ab7;
        text-decoration: none;
      }

      &_bottom {
        display: flex;
        font-size: 20px;
        &-edit, &-destroy {
          text-align: center;
          width: 30%;
          background-color:#ea352d;
          cursor: pointer;
          border: 1px solid #ea352d;
          padding: 10px 0;
          margin: 50px 30px 10px 60px;
          border-radius: 15px;
          a {
            color: #ffffff;
          }
        }

      }
    }
  }

  #map {
    height: 400px;
    width: 500px;
  }



  &_footer {
    height: 80px;
    width: 100%;
    background-color: antiquewhite;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: dimgray;
  }
}

